package ${convertorPackage};

import ${package.Entity}.${entity};
import ${domainPackage}.${domainName};

import org.mapstruct.Mapper;
import org.mapstruct.Mapping;

/**
 * <p>
 * $!{table.comment} Convertor
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper(componentModel = "spring")
public interface ${convertorName} {

    ${entity} toDataObject(${domainName} entity);

    ${domainName} toDomain(${entity} dataObject);

}
