package ${dtoPackage}.data;

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * <p>
 * $!{domainName} DTO
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@AllArgsConstructor
@NoArgsConstructor
@Builder
public class ${domainName}DTO {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
    #if(!((${field.propertyName} == 'createTime') || (${field.propertyName} == 'updateTime')))

    #if(${field.keyFlag})
        #set($keyPropertyName=${field.propertyName})
    #end
    #if("$!field.comment" != "")
    /**
     * ${field.comment}
     */
    #end
    private ${field.propertyType} ${field.propertyName};
    #end
#end

}
